/* Estilização geral */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Estilização cabeçalho */

header div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
}

nav a {
    margin-right: 20px;
    text-decoration: none;
    color: black;
}

/* Estilização banner */

.secao-capa {
    background-image: url(img/bg-estacao.jpg);
    width: 100%;
    display: flex;
    background-size: cover;
    background-position: bottom;
    height: 300px;
    background-attachment: fixed;
    

    /* Centralizar o texto */
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.secao-conteudo-capa {
    flex-direction: column;
    text-align: center;
    width: 100%;
}

.secao-conteudo-capa h1 {
    font-size: 32px;
}

.secao-conteudo-capa h2 {
    font-size: 18px;
}

.secao-destaque div {
    display: flex;

}

.limita-secao {
    max-width: 1024px;
    margin: 0 auto;
    padding: 25px 0 25px 0;
}

.galeria {
    width: 100%;
}

.galeria img {
    width: calc((100% / 3) - 3px);
    opacity: 0.6;
}

.galeria img:hover {
    opacity: 1;
}