:root {
    --cor-fonte: #0000008c;
    --cor-branca: #fff;
    --fonte: 'Source Sans Pro', sans-serif;
    --cor-destaque: #00cad1;
    --cor-hover: #004b4c;
    --cor-footer: #0d6e71;
}

* {
    box-sizing: border-box;
    font-family: var(--fonte);
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--cor-branca);
}

main {
    color: var(--cor-fonte);
    margin-bottom: 60px;
  }

.container {
    max-width: 1024px;
    margin: 0 auto;
}

.container-info {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.container-info h2, .container-info h3 {
    margin:0;
}

.topo {
    background-color: #00cad1;
    width: 100%;
}

.topo .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 60%;
    padding: 0 10px;
    margin: 0 auto;
}

.topo-titulo {
    font-weight: 600;
    font-size: 28px;
    color: var(--cor-branca);
    display: flex;
    justify-content: center;
    align-items: center;
}

.topo-titulo a {
    display: flex;
}

.logo {
    height: 60px;
}

.menu {
    display: flex;
}

.menu-links {
    padding: 10px;
    text-decoration: none;
    color: var(--cor-branca);
    font-weight: 600;
}

.menu-links:hover {
    color: var(--cor-hover);
}

@media (max-width: 425px) {
    .topo .container {
        flex-direction: column;
    }

    .topo-titulo {
        margin: 10px 0;
    }

    .menu-links {
        width: 100%;
        border-top: 1px solid #009fa5;
        justify-content: space-around;
    }
}

/* Início CSS Rodapé */
footer {
    background-color: var(--cor-footer);
    color: var(--cor-branca);
    padding: 20px;
  }
  
  footer .container {
    text-align: center;
  }