@charset "UTF-8";

/* Reset das configurações */
* {
    margin: 0;
    padding: 0;
}

/* CABEÇALHO */

/* Elemento pai do cabeçalho */
.cabecalho__container {
    /* Colocando os elementos lado a lado */
    display: flex;
    /* Colocando os elementos com ajustados */
    justify-content: space-between;
    /* Fixar no centro */
    align-items: center;
    /* FIxar o cabeçalho no top 0 */
    position: fixed;
    top: 0;
}

.cabecalho__pesquisar__item {
    display: none;
}

/* SUPERIOR SEÇÃO */

.superior__secao__container {
    display: flex;
    align-items: center;
    /* Formatar meu texto */
    white-space: nowrap;
    /* Barra de rolagem */
    overflow: scroll;
    /* Espaçamento entre os itens */
    gap: 15px;
}

/* MENU */
.menu__container {
    position: fixed;
    bottom: 0%;
    height: 74px;
    width: 100%;
}

.menu__lista {
    display: flex;
    justify-content: space-around;
}

.menu__lista li {
    align-self: center;
}

.menu__lista:nth-child(2),
.menu__lista:nth-child(3),
.menu__lista:nth-child(4) {
    display: none;
}

/* RODAPÉ */

.rodape__container {
    display: flex;
    flex-direction: column;
    /* Para quebrar as colunas */
    flex-wrap: wrap;
}

@media (min-width: 834px) {

    /* CABEÇALHO */

    .cabecalho__pesquisar__item {
        /* Para esconder o pesquisar quando telas menores */
        display: block;
    }

    /* RODAPE */

    .rodape__container {
        /* Aplicar espaçamento */
        justify-content: space-between;
    }
}