@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    max-width: 1024px;

    
}

body {
}

:root {
    --cor-fonte: #0000008c;
    --cor-branca: #fff;

    --fonte: 'Source Sans Pro';
}

limita-secao {
    max-width: 1024px;
}

.container-menu {
    padding: 10px;
    margin-left: 15px;
}

.container-menu a {
    color: var(--cor-branca);
    text-decoration: none;
}