@charset "UTF-8";

/* Cores e fontes */
:root {
    --cor-fonte: #0000008c;
    --cor-preta: #000;
    --cor-branca: #fff;
    --fonte: 'Source Sans Pro', sans-serif;
    --cor-destaque: #00cad1;
    --cor-hover: #004b4c;
    --cor-footer: #0d6e71;
    --cor-fundo-tabela: #cdcdcd;
    --cor-tabela: #585757;
}

* {
    margin: 0;
    padding: 0;
}

.secao-especialidade {
    margin-top: 40px;
}

.container-info {
    padding: 0 20px;
}

.container-links-especialidades {
    padding: 0 20px;
    text-align: center;
}

.links-especialidades {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    text-align: center;
}

.link-especialidade {
    text-decoration: none;
    color: var(--cor-preta);
    border-bottom: 2px solid var(--cor-destaque);
    margin: 0 10px 10px;
    font-size: 18px;
}

.link-especialidade:hover{
    color: var(--cor-hover);
  }

.container-tabela {
    display: flex;
    height: 240px;
    padding: 0 20px;
}

.container-tabela img {
    width: 30%;
    height: 100%;
}

.tabela {
    border-spacing: 0;
    text-align: left;
    width: 70%;
    height: 100%;
}

.tabela thead tr {
    background-color: var(--cor-destaque);
    color: var(--cor-branca);
}

.tabela tr {
    background-color: var(--cor-branca);
    color: var(--cor-tabela);
    font-weight: 500;
}

.tabela tbody tr:hth-of-type(2n+1) {
    background-color: var(--cor-fundo-tabela);
    border: 1px solid var(--cor-branca);
}

.tabela th, .tabela td {
    padding: 10px;
}

@media (max-width: 768px) {
    .container-tabela img  {
        display: none;
    }

    .tabela {
        width: 100%;
    }

    .container-tabela {
        height: auto;
        justify-content: center;
    }
}

@media (max-width: 425px) {
    .container-tabela {
        padding: 0;
    }
}