@charset "UTF-8";

/* Cores e fontes */
:root {
    --cor-fonte: #0000008c;
    --cor-branca: #fff;
    --fonte: 'Source Sans Pro';
    --cor-destaque: #00cad1;
    --cor-hover: #004b4c;
    --cor-footer: #0d6e71;
}

#sobre,
#especialidades,
#contato {
  padding: 40px 20px 0;
}

.container-banner {
    position: relative;
    background-image: url('../img/recepcao.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
}

.container-titulo-banner {
    height: 100%;
    color: var(--cor-branca);
    padding: 10px;
    display: flex;
    align-items: center;
}

.container-banner h1 {
    font-weight: 500;
    font-size: 38px;
    margin: 0;
}