@charset "UTF-8";

/* RESET CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 1024px; 
}

body {
    font-family: var(--fonte);
}

:root {
    --cor-fonte: #0000008c;
    --cor-branca: #fff;

    --fonte: 'Source Sans Pro';
}

.limita-secao {
    max-width: 1024px;
}

header {
    width: 100%;
}

.container-menu {
    padding: 10px;
    margin-left: 15px;
}

.container-menu a {
    color: var(--cor-branca);
    text-decoration: none;
}

.container-banner {
    background-image: url(../img/recepcao.png);
    width: 100%;
    

}
