* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fonte-segunda-secao);
}

:root {
    --fonte-primeira-secao: font-family: 'Montserrat', sans-serif;
    --fonte-segunda-secao: 'Ysabeau Infant', sans-serif;
    --cor1: #fff;
    --cor2: #ffffffcc;
    --cor3:#000000;
    --cor4: #000000cc;
    --cor5: #0200006e;
    --cor6: #ffdf00;
    --cor7: #009c3b;
}

.banner-video {
    width: 100%;
    height: 100vh;
    display: flex;
}

.banner-video video {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner-foto-perfil {
    display: flex;
    
}

.banner-foto-perfil img {
    width: 200px;
    height: 200px;
    padding-bottom: 20px;
    border-radius: 80%;
    border: 4px solid black;
}

.container-info {
    padding-bottom: 40px;
}

.limita-secao {
    max-width: 1024px;
    margin: 0 auto;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner-titulo {
    color: var(--cor1);
    font-weight: 700;
    font-size: 34px;
}

.banner-links {
    display: flex;
    flex-direction: column; 
}

.banner-links a {
    text-align: center;
    text-decoration: none;
    color: var(--cor1);
    background-color: var(--cor5);
    padding: 5px 80px;
    border-radius: 5px;
    line-height: 25px;
    margin-bottom: 10px;
}

.banner-links img {
    width: 20px;
    height: 20px;
}

.banner-foto-fundo {
    background-image: url();
}