@charset "UTF-8";
/* Color and font variables */
:root {
    --font-color: #464646;
    --background-color: #F5F5F5;
    --link-color: #000;
    --background-color-highlight: #EAF2FD;
    --font: 'Raleway', sans-serif;
    --background-color-cards: #FFFFFF;
    --color-icons: #2A7AE4;
}

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 1024px;
    box-sizing: border-box;
    background-color: var(--background-color);
    font-family: var(--font);
    line-height: 1;
    color: var(--font-color);
    flex-direction: column;
}

ol, ul,li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--link-color);
}

/* Menu Session */
header,footer {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.limita-secao {
    text-align: left; /* Alinha o conteúdo à esquerda dentro da seção */
    max-width: 800px; /* Define a largura máxima da seção */
    margin: 0 auto;
}

.menu {
    padding: 32px 0px 32px 0px;
    display: flex;
}

.menu__logo {
    width: 134px;
    height: 24px;
    gap: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__title {
    display: flex;
    width: 100%;
    height: 24px;
    font-size: 12px;
    font-weight: 700;
    line-height: 18.78px;
    text-align: left;
}

.menu__list {
    width: 642px;
    justify-content: flex-end;
}

.menu__list ul {
    display: flex;
    height: 19px;
    gap: 32px; 
}

.menu__list li {
    margin-right: 20px;
    font-size: 12px;
}

header img {
    width: 24px;
    height: 24px;
}

/* Title/Hero Session */
.title__div {
    width: 100%;
    margin-bottom: 50px;
    gap: 24px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.title__container {
    margin-top: 20px;
    padding: 20px;
}

.title__bio {
    margin-bottom: 10px;
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 32px;
}

.title__subsection {
    margin-bottom: 20px;
    font-size: 18px;
}

.title__network {
    display: flex;
    gap: 32px; 
}

.title__network a {
    color: var(--font-color);
}

.title__profile {
    width: 368px;
    height: 200px;
    border-radius: 50%;
}

/* Session about me */
.about {
    background: var(--background-color-highlight);
    padding: 64px 0px 50px 0px;
    gap: 10px;
}

.about__title {
    font-size: 32px;
    font-weight: 700;
    padding-bottom: 20px;
}

.about__paragraph {
    font-size: 16px;
    padding: 10px;
}

.about__container img {
    width: 140px;
    height: 52px;
}

/* Skills/Hobbies Session */
.cards__title {
    font-weight: 700;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.cards__line {
    gap: 16px;
    display: flex;
    text-align: center;
    padding-bottom: 30px;
}

.box {
    width: 176px;
    height: 174px;
    padding: 16px 0px 0px 0px;
    background-color: var(--background-color-cards);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards__img {
    width: 144px;
    height: 32px;
    color: var(--color-icons);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
}

.icon__name {
    width: 144px;
    height: 19px;
}

/* Academic History Session */
.academic {
    background: var(--background-color-highlight);
    padding: 64px 0px 50px 0px;
    gap: 10px;
}

.academic__courses {
    gap: 16px;
    display: flex;
}

.academic__courses__box {
    gap: 8px;
    flex: 1;
    margin-right: 5px;

}


.academic__courses__list {
    width: 294px;
    height: 200px;
    padding: 16px 0px 0px 0px;
    background-color: var(--background-color-cards);  
    display: flex;  
    flex-direction: column;
    align-items: center; /* Centraliza os itens no eixo horizontal */
  text-align: center;
}

.academic__courses__item__img img {

    width: 176px;
    height: 174px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.academic__courses__details {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    margin-top: 30px; 
}

/* Professional Experience Session/Projects */
.experience {
    width: Hug (1,136px)px;
height: Hug (1,886px)px;
gap: 32px;
opacity: 0px;


}

.experience__section__title {
    width: 364px;
height: 38px;
gap: 0px;
opacity: 0px;
font-family: Raleway;
font-size: 32px;
font-weight: 700;
line-height: 37.57px;
text-align: center;

}

.experience__box {
    width: Hug (1,136px)px;
height: Hug (1,816px)px;
gap: 64px;
opacity: 0px;

}

.experience__img {
    width: 752px;
height: 427px;
gap: 0px;
opacity: 0px;
box-shadow: 0px 4px 4px 0px #00000040;

}

.experience__info {
    width: Fill (348px)px;
height: Hug (112px)px;
gap: 8px;
opacity: 0px;


}

.experience__title {
    width: 348px;
height: 26px;
gap: 0px;
opacity: 0px;
font-family: Raleway;
font-size: 22px;
font-weight: 700;
line-height: 25.83px;
text-align: left;



}

.experience__text {
    width: 348px;
height: 19px;
gap: 0px;
opacity: 0px;
font-family: Raleway;
font-size: 16px;
font-weight: 500;
line-height: 18.78px;
text-align: left;


}

.experience__description {
    width: Fixed (560px)px;
height: Hug (51px)px;
gap: 16px;
opacity: 0px;

}


.experience__repo {
    width: Hug (116px)px;
height: Hug (51px)px;
padding: 16px 0px 0px 0px;
gap: 10px;
border: 1px 0px 0px 0px;
border: 1px solid #2A7AE4
}

.experience__button--repo {
    width: 84px;
    height: 19px;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.78px;
    text-align: left;
}

.experience__demo {
    width: Hug (105px)px;
    height: Hug (51px)px;
    padding: 16px 0px 0px 0px;
    gap: 10px;
    background: #2A7AE4;

}

.experience__botao--demo {
    width: 73px;
    height: 19px;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.78px;
    text-align: left;
    background: #FFFFFF;

}

/* Contact Session */
.form {
    width: 100%;
    height: 890px;
}

.form__contacto {
    width: 100%;
    height: 788px;
    padding: 64px 0px 0px 0px;
    gap: 10px;
    background-color: var(--background-color-highlight);   
    display: flex; 
}

.form__contato-left {
    width: 100%;
    height: 660px;
    padding: 64px 0px 0px 0px;
    gap: 16px;
}

.form__img {
    width: 464px;
    height: 593px;
    background: #EDEDED;
}

.form__text {
    width: 100%;
    height: auto;
    gap: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form__title {
    width: 656px;
    height: 84px;
    gap: 8px;
    width: 123px;
    height: 38px;
    font-size: 32px;
    font-weight: 700;
    line-height: 37.57px;
    text-align: left;
    
}

.form__form {
    width: 656px;
    height: 397px;
    gap: 32px;
    display: flex;
    flex-direction: column;
}

input, textarea {
    background: #FFFFFF;
    border: 0px solid #C8C8C8;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 4px 0px 0px 0px;
    gap: 4px;
    width: 656px;
}

.form__input {
    width: 656px;
    height: 150px;
    padding: 8px 0px 0px 0px;
    margin-bottom: 15px;
}

.form__textarea {
    width: 656px;
    height: 300px;
    padding: 16px 0px 0px 0px;
    margin-bottom: 20px;
}

input::placeholder {
    top: 132px;
    width: 656px;
    height: 24px;
    top: 16px;
    padding: 0px 12px 0px 12px;
}

.form__btn {
    background: var(--color-icons);
    width: 165px;
    padding: 16px 0px 16px 0px; 
    border: none;
}

.form__btn a {
    color: var(--background-color-cards);
    width: 133px;
    font-size: 16px;
    line-height: 18px;
}

/* Footer Session */
.footer {
    width: 100%;
    height: 102px;
    padding: 32px 0px 0px 0px;
    background: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
}

/* Responsividade */

/*Tablet*/
@media (min-width: 768px) {

    /* Menu */
    
    /*title*/
    
    /*Skills*/
    
    /*Hobbies*/
    
    /*Experiências acadêmicas*/
    
    /*Expeirência profissional*/
    
    }
    
    /*Mobile*/
    @media (min-width: 1024px) {
    
    /*Menu*/
    nav {
        display: block;
    }

    
    /*Titulo*/
    
    /*Sessão sobre*/
    
    /*Skills*/
    
    /*Hobbies*/
     
    /*Formação Acadêmica*/
    
    /*Experiência Profissional*/
    
     /*Contato*/
    
    /*Footer*/
    
    }

