@charset "UTF-8";
/* Color and font variables */
:root {
    --font-color: #464646;
    --background-color: #F5F5F5;
    --link-color: #000;
    --background-color-highlight: #EAF2FD;
    --font: 'Raleway', sans-serif;
    --background-color-cards: #FFFFFF;
    --color-icons: #2A7AE4;
}

/* Reset CSS */
body {
    max-width: 1024px;
    box-sizing: border-box;
    background-color: var(--background-color);
    font-family: var(--font);
    margin: 0;
    padding: 0;
    line-height: 1;
}

ol, ul,li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--link-color);
}

/* Menu Session */
header {
    display: flex;
}

.menu {
    height: 88px;
    padding: 32px 0px 32px 0px;
    justify-content: space-between;
    display: flex;
    text-align: center;
}

.menu__logo {
    width: 134px;
    height: 24px;
    gap: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__title {
    width: 102px;
    height: 19px;
    font-size: 16px;
    font-weight: 700;
    line-height: 18.78px;
    text-align: left;
}

.menu__list {
    width: 642px;
    height: 19px;
    gap: 32px;
}

.menu__list ul {
    display: flex;
    width: 642px;
    height: 19px;
    gap: 32px;
}

.menu__list li {
    margin-right: 10px;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.78px;
    text-align: left;
}

header img {
    width: 24px;
    height: 24px;
}

.title {
    display: flex;
}

.title__div {
    width: 1024px;
    height: 368;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
}

.title__container {
    width: Fixed (751px)px;
    height: Hug (246px)px;
    gap: 24px;
}

.title__bio {
    width: 751px;
    height: 122px;
    font-size: 52px;
    font-weight: 700;
    line-height: 61.05px;
    text-align: left;
}

.title__subsection {
    width: 751px;
    height: 52px;
    font-size: 22px;
    font-weight: 400;
    line-height: 25.83px;
    text-align: left;
}

.title__network {
    width: Hug (467px)px;
    height: Hug (24px)px;
    gap: 32px;
    display: flex;
}

.title__network__item {
    width: Hug (78px)px;
    height: Hug (24px)px;
    gap: 4px;
    display: flex;
    align-items: center;
}

.title__network__item img {
    margin-left: 5px;
  }

.title__profile {
    width: 368px;
    height: 368px;
    border-radius: 50%;
    overflow: hidden;
}

.about {
    background: var(--background-color-highlight);
    width: Fill (1,440px)px;
    height: Hug (383px)px;
    padding: 64px 0px 0px 0px;
    gap: 10px;
}

.about__container {
    width: Fixed (1,136px)px;
    height: Hug (255px)px;
    gap: 16px;
}

.about__title {
    width: 166px;
    height: 38px;
    font-size: 32px;
    font-weight: 700;
    line-height: 37.57px;
    text-align: left;
}

.about__paragraph {
    width: 751px;
    height: 133px;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.78px;
    text-align: left;
}

.about__container img {
    width: 140px;
    height: 52px;
}

.container {
    width: 1024px;
    height: 1024px;
    gap: 88px;
}

.skills {
    width: Hug (1,136px)px;
    height: Hug (244px)px;
    gap: 32px;
}

.cards__title {
    width: 82px;
    height: 38px;
    font-size: 32px;
    font-weight: 700;
    line-height: 37.57px;
    text-align: center;
}

.skills__line {
    width: 1024px;
    height: 174;
    gap: 16px;
    display: flex;
}

.box {
    width: 176px;
    height: 174px;
    padding: 16px 0px 0px 0px;
    gap: 8px;
    background-color: var(--background-color-cards);
    flex: 1; 
    margin-right: 5px;
}

.cards__img {
    width: 32px;
    height: 32px;
    color: var(--color-icons);
}

.icon__name {
    width: 144px;
    height: 19px;
}

.hobbies {
    width: Hug (1,136px)px;
    height: Hug (244px)px;
    gap: 32px;
}

.hobbies__line {
    width: Hug (1,136px)px;
    height: Hug (174px)px;
    gap: 16px;
    display: flex;
}

.hobbies__name {
    width: 144px;
    height: 19px;
    font-size: 16px;
    font-weight: 700;
    line-height: 18.78px;
    text-align: left;
}


/* Menu */

section.menu {
    
}


/* Title */
section.title {

}

/* About */

section.about {

}

/* Hobbies */
section.hobbies {

}

/* Experiência Acadêmica */
section.academic {

}

/* Contato */
section.formcontato {

}

/* Footer */
section.footer {

}

/* Responsividade */

/*Tablet*/
@media (min-width: 768px) {

    /* Menu */
    
    /*title*/
    
    /*Skills*/
    
    /*Hobbies*/
    
    /*Experiências acadêmicas*/
    
    /*Expeirência profissional*/
    
    }
    
    /*Mobile*/
    @media (min-width: 1024px) {
    
    /*Menu*/
    nav {
        display: block;
    }

    
    /*Titulo*/
    
    /*Sessão sobre*/
    
    /*Skills*/
    
    /*Hobbies*/
     
    /*Formação Acadêmica*/
    
    /*Experiência Profissional*/
    
     /*Contato*/
    
    /*Footer*/
    
    }

